*{
    margin: 0px;
    padding: 0px;
}
.nav{
    background-color: black;
    color: #fff;
    overflow: visible;
    width: 100%;
}
.nav ul{
    list-style-type: none;
    text-align: end;
    margin-top: -60px;
    
}
.nav ul li{
    list-style-type: none;
    display: inline;
}

li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    display: inline-block;
}

.nav h2{
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
}